.main{
    height: 100vh;
    width: 100%;
    background-image: url(./bg-7-full.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 25px;
}

.text{
    text-align: center;
}

.body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.fun{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    gap: 20px;
}

.cla{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
    gap: 20px;
}

.but{
    background-color: rgb(172, 161, 219);
    border: 3px black solid;
    color: black;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
}